$btn-text: white;
$dark-blue: #4285f4;
$blue: #76a7fa;
$light-blue: #a0c3ff;
$default-blue: rgb(0, 110, 255);
$light-grey: #f2f2f2;
$grey: #e6e6e6;
$dark-grey: #ccc;
$default-grey: grey;
$dark-red: #db4437;

.header {
    justify-content: space-between !important; 
    
    .logo {
        display: flex;
        align-items: center;
    }
}

.adv-search {
    flex-direction: column;
    padding: 1em 2.5em;

    .line {
        width: 100%;
        height: 1px;
        background-color: $grey;
        margin: 1em 0;
    }

    .heading {
        font-size: 20px;
        color: $dark-red;
    }

    .form-top {
        display: flex;
        justify-content: space-between;
        width: 860px;

        .text-dull {
            font-size: 14px;
            font-weight: bold;
            color: $default-grey;
        }
    }

    .adv-form {
        display: flex;
    
        .input-group {
            display: flex;
            align-items: center;
            margin: 1rem 0;

            input {
                width: 500px;
                height: 20px;
                margin: 0 1rem;
                padding: 1rem 0.5rem;
                border-radius: 0;
                border: 1px solid $grey;
            }
            
            input[type=text]:focus {
                outline: none;
                border-radius: 0;
                border: 1px solid $dark-blue;
            }

            .label {
                font-size: 14px;
                width: 175px;
            }

            .info {
                color: $default-grey;
                font-size: 12px;
                width: 300px;
            }
        } 

        .search-btn {
            margin: 2rem 0;
            display: flex;
            justify-content: end;
            width: 690px;

            button {
                background-color: $dark-blue;
                font-size: 12px;
            }
        }
    }
}

