@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    display: flex;
}

.links {
    display: flex;
    list-style: none;
    align-items: center;

    li {
        margin: 1rem 0.7rem;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    a:hover {
        text-decoration: underline;
    }
}

.header {
    justify-content: right;
}

.center {
    flex-direction: column;
    align-items: center;
    margin: auto;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .search-bar {
            width: 582px;
        }
    }
}

.footer {
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    border-top: 1px solid rgb(202, 202, 202);
    padding: 0 1rem;
    margin-top: auto;

    .links > li a {
        color: rgb(102, 102, 102);
    }
}

.btn {
    font-size: 14px;
    color: white;
    padding: 0.5em 1.7em;
    background-color: rgb(31, 128, 255);
    border: none;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(6, 114, 255);
    filter: drop-shadow(1px 1px rgb(2, 103, 235));
}

.apps-btn {
    margin-top: 5px;
}